<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.project.dao.ApprovalDocDAO">

    <!-- ✅ 결재선 INSERT -->
 <insert id="insertApprovalLine" parameterType="map">
    INSERT INTO approval_line (
        seq,
        approval_id,
        approvalNumber,
        approval_userid,
        approver_id,
        approver_order,
        approver_status,
        status,
        writeDate
    ) VALUES (
        approval_line_seq.NEXTVAL,
        #{approvalId},
        #{approvalNumber},
        #{approvalUserId},
        #{approverId},
        #{orderNo},
        'WAITING',     -- 결재자 상태
        'WAITING',     -- 휴가 전체 상태 
        SYSTIMESTAMP
    )
</insert>


    <!-- ✅ 결재선 조회 -->
    <select id="selectApprovalLine" parameterType="string" resultType="map">
        SELECT
            al.seq,
            al.approval_id AS approvalId,
            al.approver_id AS id,
            m.name AS name,
            m.rank_code AS rank_code,
            al.approver_status AS STATUS
        FROM approval_line al
        JOIN member m ON al.approver_id = m.id
        WHERE al.approval_id = #{approvalId}
        ORDER BY al.approver_order
    </select>
    
    <!-- ✅ 휴가 seq -> approval_id 조회 -->
    <select id="getApprovalIdBySeq" resultType="string">
        SELECT approval_id
        FROM leave_request
        WHERE seq = #{seq}
    </select>


<!--  현재 결재 담당자 -->
<select id="getCurrentApprover" resultType="string">
    SELECT approver_id
    FROM (
        SELECT approver_id
        FROM approval_line
        WHERE approval_id = #{approvalId}
          AND approver_status = 'WAITING'
        ORDER BY approver_order
    )
    WHERE ROWNUM = 1
</select>

<!--  다음 결재자 -->
<select id="getNextApprover" parameterType="map" resultType="string">
    SELECT approver_id
    FROM (
        SELECT approver_id, approver_order
        FROM approval_line
        WHERE approval_id = #{approvalId}
          AND approver_status = 'WAITING'
        ORDER BY approver_order
    )
    WHERE approver_order >
        (SELECT approver_order FROM approval_line
         WHERE approval_id = #{approvalId}
           AND approver_id = #{approverId})
      AND ROWNUM = 1
</select>

<update id="updateRejectReason" parameterType="map">
    UPDATE leave_request
    SET reject_reason = #{reason},
        reject_time = SYSTIMESTAMP
    WHERE seq = #{seq}
</update>


    
      <update id="updateApproverStatus" parameterType="map">
        UPDATE approval_line
        SET approver_status = #{status}, writeDate = SYSTIMESTAMP
        WHERE approval_id = #{approvalId}
        AND approver_id = #{approverId}
    </update>

</mapper>
