<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Auth">
	<select id="login" resultType="com.kedu.project.dto.AuthDTO">
		select * from auth where id=#{id} and pw=#{pw}
	</select>
		<insert id="insert">
		insert into auth (id, pw, name)
    values (#{id}, #{pw}, #{name})
	</insert>
	
	<delete id="delete">
		delete from auth where id = #{id}
	</delete>
	
	<select id="myPage" resultType="com.kedu.project.dto.AuthDTO">
		select * from auth where id=#{id}
	</select>
	
	<select id="check" resultType="int">
		select count(*) from admin where id=#{id} 
	</select>
	
	<update id="update">
		update auth set name=#{name} where id=#{id}
	</update>
</mapper>