<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Contacts">
	
	<insert id="insert" >
		insert into contacts 
		(seq , user_id , name, phone , email, type , job_code , rank_code) 
		values(contacts_seq.nextval , #{user_id} , #{name}, #{phone} , 
		#{email},#{type},#{job_code}, #{rank_code}) 

	</insert>
	
	<select id="SelectContactsList" resultType="com.kedu.project.dto.ContactsDTO">
		select * from contacts where user_id = #{user_id} order by name asc
	</select>	
	
	
	<select id="selectSoloList" resultType="com.kedu.project.dto.ContactsDTO">
    SELECT * FROM contacts WHERE type = 'solo' AND user_id = #{user_id}  order by name asc
	</select>

	<select id="selectMultiList" resultType="com.kedu.project.dto.ContactsDTO">
    SELECT * FROM contacts WHERE type = 'multi'  order by name asc
	</select>
	
	
	<select id="searchName" resultType="com.kedu.project.dto.ContactsDTO">
	select * from contacts where name like  '%' || #{name} || '%'
	</select>

	
	<select id="searchByOrgName" resultType="com.kedu.project.dto.MemberDTO">
	select * from member where name like  '%' || #{name} || '%'
	</select>
	
	<select id="searchByNameAndType" resultType="com.kedu.project.dto.ContactsDTO">
    SELECT * FROM contacts 
    <where>
    <if test="type != null and type != ''"> AND type = #{type} </if>
    <if test="name != null and name != ''">AND name LIKE '%' || #{name} || '%'</if>
    </where> 
    ORDER BY name ASC
	</select>

	
	<delete id="deleteContacts">
	delete from contacts where seq in
	<foreach item="seq" collection="collection" open="(" separator="," close=")">
    #{seq}</foreach>
	</delete>
	
	<update id="updateContacts" parameterType="map">
    UPDATE contacts SET
    name = #{dto.name},
    phone = #{dto.phone},
    email = #{dto.email},
    job_code = #{dto.job_code},
    rank_code = #{dto.rank_code}
    WHERE seq = #{seq}
	</update>
	
	
	<update id="updateContactsTypeMulti" parameterType="map">
    UPDATE contacts SET type = #{type} WHERE seq IN
     <foreach collection="seqList" item="seq" open="(" separator="," close=")">
        #{seq,jdbcType=NUMERIC}
    </foreach>
    </update>
    
    <update id="updateContactsTypeSingle" parameterType="map">
    UPDATE contacts	SET type = #{type} ,  user_id = #{user_id} WHERE seq IN
     <foreach collection="seqList" item="seq" open="(" separator="," close=")">
        #{seq,jdbcType=NUMERIC}
    </foreach>
	</update>


	<select id="selectOranizationList" parameterType="map" resultType="com.kedu.project.dto.MemberDTO">
	    SELECT * FROM member
	    WHERE 1=1
	    <if test="status != null and status != '재직 상태'">
        AND status = #{status}
	    </if>
	    <if test="dept != null and dept != '전체 부서'">
	        AND dept_code = #{dept}
	    </if>
	    <if test="employment != null and employment != '근로 형태'">
	        AND employmentType = #{employment}
	    </if>
	    <if test="rank != null and rank != '전체 직위'">
	        AND rank_code = #{rank}
	    </if>
	    <if test="job != null and job != '전체 직무'">
	        AND job_code = #{job}
	    </if>
	
	ORDER BY CASE rank_code
    WHEN 'J001' THEN 1
    WHEN 'J002' THEN 2
    WHEN 'J003' THEN 3
    WHEN 'J004' THEN 4
    WHEN 'J005' THEN 5
    WHEN 'J006' THEN 6
    WHEN 'J007' THEN 7
    WHEN 'J008' THEN 8
    WHEN 'J009' THEN 9
	END desc
   
	</select>
	

	<insert id="copyContactsToSolo" parameterType="map">
    INSERT INTO contacts (seq, user_id, name, phone, email, type, job_code, rank_code)
    SELECT contacts_seq.NEXTVAL, #{user_id}, name, phone, email, 'solo', job_code, rank_code
    FROM contacts
    WHERE seq IN
    <foreach collection="seqList" item="seq" open="(" separator="," close=")">
        #{seq}
    </foreach>
	</insert>

	

</mapper>