<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mail">
	
	<insert id="SendMail" >
		insert into mail 
		(seq , user_id , senderId, recipientId , title, fileContent , content ) 
		values(mail_seq.nextval , #{user_id} , #{senderId} , #{recipientId}, #{title} , 
		#{fileContent,jdbcType=VARCHAR}, #{content} ) 

	</insert>
	
	<select id="SelectMailList" resultType="com.kedu.project.dto.MailDTO">
		select * from mail order by sendDate asc
	</select>
	
	<delete id="deleteMail">
	delete from mail where seq in
	<foreach item="seq" collection="collection" open="(" separator="," close=")">
    #{seq}</foreach>
	</delete>
	
</mapper>