<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Schedule">

  <!-- 일정 등록 -->
  <insert id="insertSchedule" parameterType="com.kedu.project.dto.ScheduleDTO">
    <selectKey keyProperty="seq" resultType="int" order="BEFORE">
      SELECT SCHEDULE_SEQ.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO schedule (
      seq, category, title, content, startAt, endAt, place, color,
      importantYn, created_id, updated_id, createdAt, updatedAt
    )
    VALUES (
      #{seq}, #{category}, #{title}, #{content}, #{startAt}, #{endAt}, #{place}, #{color},
      #{importantYn}, #{created_id}, #{created_id}, SYSDATE, NULL
    )
  </insert>

  <!-- 카테고리별 일정 목록 -->
<select id="getSchedulesByCategory" parameterType="map" resultType="com.kedu.project.dto.ScheduleDTO">
  SELECT *
  FROM schedule
  WHERE category = #{category}
    AND created_id = #{loginId}
  ORDER BY startAt ASC
</select>

  <!-- 전체 일정  -->
<select id="getAllSchedules" parameterType="string" resultType="com.kedu.project.dto.ScheduleDTO">
  SELECT *
  FROM schedule
  WHERE created_id = #{_parameter}
  ORDER BY startAt ASC
</select>

  <!-- 일정 상세 -->
  <select id="getDetail" parameterType="int" resultType="com.kedu.project.dto.ScheduleDTO">
    SELECT * FROM schedule WHERE seq = #{seq}
  </select>

  <!-- 수정 -->
  <update id="modifySchedule" parameterType="com.kedu.project.dto.ScheduleDTO">
    UPDATE schedule
    SET
      category = #{category},
      title = #{title},
      content = #{content},
      startAt = #{startAt},
      endAt = #{endAt},
      place = #{place},
      color = #{color},
      importantYn = #{importantYn},
      updatedAt = SYSTIMESTAMP
    WHERE seq = #{seq}
  </update>
  
  <!-- 삭제 -->
  <delete id="deleteSchedule" parameterType="int">
    DELETE FROM schedule WHERE seq = #{seq}
  </delete>


</mapper>
