<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Schedule">

<insert id="insertSchedule" parameterType="com.kedu.project.dto.ScheduleDTO">
  
    <!--시퀀스 먼저 실행해서 DTO의 seq에 담기 -->
  <selectKey keyProperty="seq" resultType="int" order="BEFORE">
    SELECT SCHEDULE_SEQ.NEXTVAL FROM DUAL
  </selectKey>
  
  insert into schedule (
    seq, category, title, content, startAt, endAt, place, color, importantYn, created_id, updated_id, createdAt, updatedAt
  )
  values (
    #{seq}, #{category}, #{title}, #{content}, #{startAt},#{endAt}, #{place},#{color},#{importantYn},
     #{created_id},#{created_id}, sysdate, null
  )
</insert>

<!-- 카테고리별 일정 목록 -->
<select id="getSchedulesByCategory" resultType="com.kedu.project.dto.ScheduleDTO">
  SELECT *
  FROM schedule
  WHERE category = #{category}
  ORDER BY startAt ASC
</select>

<!-- 전체 일정용 -->
<select id="getAllSchedules" resultType="com.kedu.project.dto.ScheduleDTO">
  SELECT * FROM schedule ORDER BY startAt ASC
</select>

<!-- Schedule Detail  -->
<select id="getDetail" resultType="com.kedu.project.dto.ScheduleDTO">
  select * from schedule where seq = #{seq}
</select>

<!-- Schedule Delete  -->
<delete id="deleteSchedule" >
	delete from schedule where seq = #{seq}
</delete>

<!-- Schedule Update  -->
<update id="modifySchedule">
	update schedule set title = #{title} , content = #{content} where seq = #{seq}
</update>
	
</mapper>